In [ ]:
L = [7, 5, 3, 4, 1, 2, 8]
B = [ [] for i in range(5) ]

def hash_7m5(x):
    return (x * 7) % 5

for i in range(len(L)):
    B[ hash_7m5(L[i]) ].append(L[i])

print(B)

In [ ]:
#存入9
B[ hash_7m5(9) ].append(9)
print(B)
#删除4
B[ hash_7m5(4) ].remove(4)
print(B)

In [4]:
import sqlite3

In [5]:
db = sqlite3.connect("University11.db")
cursor=db.cursor()

In [6]:
cursor.execute("""CREATE TABLE IF NOT EXISTS students
(id integer PRIMARY KEY, name text NOT NULL, gender text NOT NULL, age ineger NOT NULL);""")

In [7]:
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(1, 'zhangsan', 'male', 18)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(2, 'lisi', 'female', 19)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(3, 'wangwu', 'male', 17)""")
db.commit()

In [8]:
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

[(1, 'zhangsan', 'male', 18), (2, 'lisi', 'female', 19), (3, 'wangwu', 'male', 17)]

In [9]:
db.close()

In [10]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS class
(id integer PRIMARY KEY, name text NOT NULL, teacher text NOT NULL);""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(100, 'Python', 'CZ')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(101, 'Algorithm', 'GM')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(102, 'SQL', 'WX')""")
db.commit()
cursor.execute("SELECT * FROM class")
print(cursor.fetchall())
db.close()

[(100, 'Python', 'CZ'), (101, 'Algorithm', 'GM'), (102, 'SQL', 'WX')]

In [11]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS enrolled
(student integer NOT NULL, class integer NOT NULL, grade integer NOT NULL);""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(1, 100, 80)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(2, 102, 90)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(3, 101, 70)""")
db.commit()
cursor.execute("SELECT * FROM enrolled")
print(cursor.fetchall())
db.close()

[(1, 100, 80), (2, 102, 90), (3, 101, 70)]

In [12]:
db = sqlite3.connect("university.db")
cursor=db.cursor()
cursor.execute("""SELECT students.id, students.name, students.gender, students.age, enrolled.class, enrolled.grade FROM students JOIN enrolled on students.id = enrolled.student""")
print(cursor.fetchall())
db.close()

OperationalError: no such table: students